/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}


/* Header Area */
header {
    background-color: rgb(204, 221, 236);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
/* https://terrymartin-loverunning-6h33634hqe3.ws-eu114.gitpod.io/ */

nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#menu-show:checked~nav {
    display: block;
}

#menu-show {
    display: none;
}

.menu-show-label {
    font-size: 2rem;
}


/* Main Content Area */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 144px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;

}


.welcome-message {

    align-items: center;
    width: 100%;
    height: auto;
}

.welcome-message p, h3 {
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 9px;
}

/* index main image */
.info-message {
    align-items: center;
    width: 100%;
    height: auto;
}

.info-message img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.info-message-text {
    position: relative;
}

.info-message-text-detail {
    /*https://www.w3schools.com/howto/howto_css_image_text.asp*/

    position: absolute;
    top: 2%;
    right: 3%;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    display: table;
    margin: 15px auto 0px auto;
    padding: 20px;
    background-color: #301934;
    color: #F0FFF0;
    opacity: .97;
}

/* Cards page */
#card-images img {
    /* width: 100%; */
    line-height: 1em;
}

#card-images {
    line-height: 0;
}


/* Booking page */

/* 
#booking-form {
    background-image: url("/assets/images/booking-background.jpeg");
    background-color: #cccccc;

} */

.elem-group {
    width: 300px;
    margin: 0 auto;
    padding: 5px;
    padding-left: 15px;

}


div.elem-group {
    margin: 20px 0;
}

div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
}

label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
}

input,
select,
textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
}

div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}

textarea {
    height: 250px;
}

hr {
    border: 1px dotted #ccc;
}

button {
    height: 50px;
    background: orange;
    border: none;
    color: white;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    border-radius: 4px;
    cursor: pointer;
    margin-left: 80px;
    margin-bottom: 20px;
    width: 150px;
}

button:hover {
    border: 2px solid black;
}



/* footer Area */
footer {
    background-color: rgb(204, 221, 236);
}

#socials {
    /* Remove bullet points */
    list-style-type: none;
    display: flex;
    padding: 20px 5px;
    justify-content: space-evenly;
    text-align: center;
    font-size: 180%;
}

#socials a {
    /* remove underline */
    text-decoration: none;
    color: black;
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* enable hover action on desktop size and above only */
    #socials a:hover {
        color: white;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */


    #index-image {
        content: url("../images/desktop-tarot.jpeg");
        max-height: 900px;
    }

}

@media only screen and (min-width: 768px) {
    /* For desktop: */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        font-size: 24px;
    }

    .menu-show-label {
        display: none;
    }
    
      #index-image {
        content: url("../images/tablet-tarot.jpeg");
    }

}